<!-- <p>I'm working</p> {{myName}}

<button id="changeButton" name="changeButton" (click)="afterChange()">Change Name</button>

<button id="someButton" name="someButton" (click)="numberButton()">Number Button</button>

<app-student></app-student>

<input type="text" id="sid" name="sid" [(ngModel)]="myName" />
{{myName}}


<div class="container">
  <table class="table" >
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Email</th>
    </tr>
    <tr *ngFor="let employee of myStudentResponse">
      <td>{{employee.employee_name}}</td>
      <td>{{employee.employee_salary}}</td>
      <td>{{employee.id}}</td>
      <td>{{employee.employee_age}}</td>
    </tr>
  </table>
</div> -->
<app-student></app-student>

<app-employee-form-results></app-employee-form-results>

