<!-- <p>I'm working</p> {{myName}}

<button id="changeButton" name="changeButton" (click)="afterChange()">Change Name</button>

<button id="someButton" name="someButton" (click)="numberButton()">Number Button</button>

<app-student></app-student>

<div class="container">
  <table class="table" >
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Email</th>
    </tr>
    <tr *ngFor="let employee of myStudentResponse.data">
      <td>{{employee.employee_name}}</td>
      <td>{{employee.employee_salary}}</td>
      <td>{{employee.id}}</td>
      <td>{{employee.employee_age}}</td>
    </tr>
  </table>
</div> -->
<!-- <app-student></app-student>

<app-employee-form-results></app-employee-form-results> -->


<!-- <app-header></app-header>

<p>I'm app component</p>

<router-outlet></router-outlet> -->

<!-- <app-forms></app-forms> -->

<!-- <app-forms-practice></app-forms-practice> -->

<!-- <app-footer></app-footer> -->
<!-- <button id="staffButton" name="someButton" (click)="staffRoute()">Go to Staff </button>
<router-outlet></router-outlet> -->


<input type="name" [(ngModel)]="userName"> 

<p>Hello {{userName}} </p>

<app-form></app-form>
<app-form-results></app-form-results>